@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500;600;700&display=swap');

:root {
    --filter-view-bg: #f1f1f1;
    --checkbox-bg-hover: #bcbcbc;
    --priority-low-bg: #f1f1f1;
    --priority-med-bg: #fce1bd;
    --priority-high-bg: #f8beb9;

    --priority-low-bc: #090909;
    --priority-med-bc: #eb8909;
    --priority-high-bc: #dd4b39;

    --btn-bg: #fb7e14;
    --btn-bg-hover: #b65f13;

    --default-flex-gap: 15px;
    --smaller-flex-gap: 10px;

    --default-padding: 30px;
    --todo-item-padding: 10px;
    --todo-view-padding: 55px;
    --priority-padding: 3px;
    --form-item-padding: 10px;

    --default-color: #090909;

    font-size: 16px;
    font-family: "Source Code Pro", sans-serif;
    color: var(--default-color);
}

html,
body,
:root {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, p, span {
    margin: 0;
}

p {
    font-size: 1.1rem;
}

.content {
    margin: 0;

    display: grid;
    grid-template-columns: 300px auto;
}

.todo-view {
    height: 100vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    padding: var(--todo-view-padding);
    padding-top: 0;

}

.todo-view-title {
    padding: var(--todo-view-padding);
    padding-bottom: 0;
    margin-bottom: 20px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.filter-view {
    height: 100vh;
    overflow: scroll;
    background-color: var(--filter-view-bg);

    padding: var(--default-padding);
}

.filter-item {
    cursor: pointer;

    display: flex;
    flex-direction: row;
}

.filter-item p {
    cursor: pointer;

    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
}

.filter-view-title {
    background-color: var(--filter-view-bg);

    padding: var(--default-padding);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.task-item {
    display: flex;
    flex-direction: row;

    width: 100%;

    justify-content: space-between;
    align-items: center;

    padding: var(--todo-item-padding) 0px;
}

.task-item:hover {
    background-color: var(--filter-view-bg);
}

.task-check {
    width: 1.2rem;
    height: 1.2rem;
    border: 3px solid var(--default-color);
    border-radius: 50%;
}

.task-check:hover {
    background-color: var(--checkbox-bg-hover);
}

.task-priority {
    min-width: 60px;
    padding: var(--priority-padding);
    text-align: center;
} 

.task-title-container, .info-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--default-flex-gap);  
}

.task-title {
    white-space: nowrap;
    overflow-x: scroll;
}

.info-container * {
    z-index: 50;
    font-size: 0.9rem;
}

.task-due-date {
    white-space: nowrap;
}


/* Form rules */
.form {
    position: absolute;
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.4);
}

.form > form {
    width: 400px;
    height: auto;

    display: flex;
    flex-direction: column;

    padding: var(--default-padding);

    border-radius: 10px;

    background-color: var(--filter-view-bg);

    gap: var(--default-flex-gap);
}

.form > form > * {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    gap: 5px;
}

.form select, .form input{
    border: none;

    padding: var(--form-item-padding);

    font-size: 1rem;
}

.form label {
    font-size: 1.1rem;
    font-weight: 500;
}

/* Very specific rules */
.low {
    background-color: var(--priority-low-bg);
    border: 2px solid var(--priority-low-bc);
    border-radius: 15px;
}

.medium {
    background-color: var(--priority-med-bg);
    border: 2px solid var(--priority-med-bc);
    border-radius: 15px;
}

.high {
    background-color: var(--priority-high-bg);
    border: 2px solid var(--priority-high-bc);
    border-radius: 15px;
}

.low.finished {
    background-color: var(--priority-low-bc);
}

.medium.finished {
    background-color: var(--priority-med-bc);
}

.high.finished {
    background-color: var(--priority-high-bc);
} 

.task-project {
    min-width: 60px;
    padding: var(--priority-padding);
    text-align: center;

    background-color: var(--priority-low-bg);
    border: 2px solid var(--priority-low-bc);
    border-radius: 15px;
}

.hidden {
    display: none;
}

.btn {
    border: none;
    font-family: "Roboto", sans-serif;
    font-size: 1.1rem;
    font-weight: 500;

    padding: var(--form-item-padding);

    background-color: var(--btn-bg);

    border-radius: 5px;
    color: white;
}

.btn:hover {
    background-color: var(--btn-bg-hover);
}

.task-item .info-container {
    visibility: hidden;
}

.task-item:hover .info-container {
    visibility: visible;
}

#btn-show-taskform {
    width: 32px;
    height: 32px;
    
    padding: 0px;

    border-radius: 50%;
    text-align: center;
    font-size: 1.4rem;
    line-height: 0px;
}

.btn:hover {
    background-color: var(--btn-bg-hover);
}