@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500;600;700&display=swap");

:root {
  font-size: 16px;
  font-family: "Source Code Pro", monospace;
}

html,
body {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
p,
span {
  margin: 0;
  padding: 0;
}

tr {
  text-align: center;
}

.df {
  display: flex;
}

.fdr {
  flex-direction: row;
}

.fdc {
  flex-direction: column;
}

.jcsb {
  justify-content: space-between;
}

.all-alc {
  justify-content: center;
  align-items: center;
}

.alic {
  align-items: center;
}

.dg {
  display: grid;
}

.grid-3c {
  grid-template-columns: repeat(3, 1fr);
}

header {
  padding: 30px;
}

input {
  border: 1px solid black;
  border-radius: 10px;

  padding: 5px;
  width: 200px;
  height: 20px;
}

button {
  background-color: #ffffff;

  border: 1px solid black;
  border-radius: 10px;

  height: 25px;

  font-family: "Source Code Pro", monospace;
}

.content > * {
  margin-bottom: 20px;
}

.today > * {
  margin-bottom: 10px;
  padding: 10px;
}
.today-temp {
  font-size: 2rem;
}

.right {
  grid-gap: 20px;
}

.info-item {
  width: 150px;
  height: 80px;

  border: 1px solid black;
  border-radius: 20px;
}

.week table {
  width: 800px;
}

.logo {
  font-size: 1.6rem;
  font-weight: 900;
}

.forecast-item {
  width: 100%;
  gap: 60px;
}
